.footer-main{
    bottom: 2px; 
    left: 0;
    width: 100%;    
    background-color: black; 
    text-align: center; 
    padding: 10px; 
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1); 
   
}
.footer-container{
    display: flex;
    flex-direction: row;

}
.footer-item{
    display: grid;
    

}