<div>
    <app-header></app-header>
    <div class="container">
        <img src="assets/images/intern_home.png" class="app-main-img" />
    </div>
    <div class="container mt-5">
        <div class="row main-second-main container ">
            <div class="col align-items-center">
                <div class="main-second-sub align-items-center ">
                    Sub content items {{test}}
                    <hr />
<img src="../assets/images/advocate.png" class="main-card-img"/>
<p class="main-card-p">Advocates are the most trustworthy people who helps you to get rid of the justice loopholes</p>
                </div>
            </div>
            <div class="col">
                <div class="main-second-sub">
                    Sub content items
                    <hr />
                    <button [disabled]="isDisabled" [style.color]="color">Disabled button</button>
                </div>
            </div>
            <div class="col">
                <div class="main-second-sub">
                    Sub content items
                    <hr />

                </div>
            </div>
        </div>
        <div class="container">
            <h4>Second title </h4>
            <p>Here comes the next </p><iframe height="430" width="350" src="https://bot.dialogflow.com/6937be81-be1a-450d-a9a0-e0507f19c698"></iframe>
            

  
            <div class="container"></div>
        </div>
    </div>

</div>
